.cards__item {
  width: 240px;
  margin-right: 100px;
  margin-bottom: 60px;
}

.cards__item:nth-of-type(3),
.cards__item:last-of-type {
  margin-right: 0;
}

.cards__item:nth-of-type(4),
.cards__item:last-of-type {
  margin-bottom: 0;
}
